/* HEADER STYLING */
header {
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

h1 {
    font-family: "Barrio", system-ui;
    font-weight: 400;
    margin-left: 2rem;
    background-color: rgba(255, 255, 255, 0);
}