:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgb(250, 247, 244);
  color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(8, 44, 59);
  --primary-color-lighter: #224468;
}

* {
  padding: 0;
  margin: 0;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color-lighter)
}
